.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-group{
  background-color: aliceblue ;
  padding: 10px;
}

.head-background{
  height: auto;
  
  }

p{
  margin-bottom: 0;
  padding-top: 0;
}

.grayer{
  background-color: lightgray;
}
.whiter{
  background-color: whitesmoke;
}

.right-border{
  border-right: 2px solid black;
}
.bottom-border{
  border-bottom: 2px solid black;
}

.total-cover{
  width: 100%;
  height: 100vh;
  position: relative;
  bottom: 0;
  background: rgb(255,255,255);
background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(190,245,190,1) 20%, rgba(190,245,190,1) 32%, rgba(144,238,144,1) 57%, rgba(71,182,71,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(190,245,190,1) 20%, rgba(190,245,190,1) 32%, rgba(144,238,144,1) 57%, rgba(71,182,71,1) 100%);
background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(190,245,190,1) 20%, rgba(190,245,190,1) 32%, rgba(144,238,144,1) 57%, rgba(71,182,71,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#47b647",GradientType=1);
}
.total-cover-company{
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  background: rgb(255,255,255);
background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(190,245,190,1) 20%, rgba(190,245,190,1) 32%, rgba(144,238,144,1) 57%, rgba(71,182,71,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(190,245,190,1) 20%, rgba(190,245,190,1) 32%, rgba(144,238,144,1) 57%, rgba(71,182,71,1) 100%);
background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(190,245,190,1) 20%, rgba(190,245,190,1) 32%, rgba(144,238,144,1) 57%, rgba(71,182,71,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#47b647",GradientType=1);
}


.remove-deco{
  text-decoration: none;
  color: white;
}

.remove-deco:hover{
  text-decoration: none;
  color: white;
}

/* .link-highlight:hover{
  background-color: rgb(92, 92, 92);
  height: 100%
} */

.link-highlight{
  height: 100%;
}
.link-highlight:hover {
  background-color: rgb(44, 44, 44);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.5s linear;
}

 .bubble:hover {
   display: block;
  background-color: rgb(124, 124, 124);
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: background-color 0.4s linear;
} 

.fav-star{
 color: black;
  font-size: 25px;
   cursor: pointer
}

.navbar-scroll{
  position: fixed !important;
  top: 0;
  z-index: 1;
  width: 100vw;
  margin-bottom: -66px;
}
.marginT {
  margin-top: 66px;
}
